.navbar .nav-item .nav-link
{
    color:white;
}
.main-header{
    background: url(../img/fondo.jpg);
    min-height: 500px;
    /*definir como unica imagen*/
    background-size: cover;
}
/* paleta flatuicolor rgba*/
.backgroup-overlay{
    background:rgba(199, 236, 238,0.7);
    width: 100%;
    height: 100%;
}
.team{
    background: rgba(186, 220, 88,1.0);
}

